header{
    background-color: #171516;
    background-size: cover;
    height: 120px;
    -webkit-box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.56); 
    box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.56);  
}

body {
    background-color: #171516;
}

.logo{
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 10px;
}

main{
    margin-top: 140px;
    margin-bottom: 50px;
}

.title_cat h2{
    background: url('../imgs/cat_icon.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 32px;
    padding: 8px;
    font-size: 1.1rem;
    color: #07c8da;
    border-bottom: 2px solid #b0029f;
    padding-left: 45px;
    text-shadow: 1px 1px #171516;
}

.card{
    margin-top: 70px;
    margin-bottom: 15px;
    background-color: #484245;
    /*https://html-css-js.com/css/generator/box-shadow/*/
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.card-header{
    text-align: center;
    padding-top: 40px;
    font-size: 1.5rem;
    color: #b0029f;
    color: #07c8da;
    background-color: #3d393b;
    text-shadow: 1px 1px #171516;

}
.card-title{
    color: #b0029f;
    color: #E22699;
    text-shadow: 1px 1px #171516;
}

#fullProfile_Title{
    color: #b0029f;
}

.img_profile{
    border-radius: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -65px;
}

footer {
    background-image: url('../imgs/bg-footer.png');
    height: 60px;
    padding: 10px;
}